@charset "utf-8";
/* ==================== Reset ==================== */
body,dl,dt,dd,ul,ol,li,th,td,form,input,textarea,p {margin:0; padding:0;}
img {display:block; border:0;}
li {list-style:none}
sup {vertical-align:text-top;}
sub {vertical-align:text-bottom;}
article,aside,canvas,figure,figure img,figcaption,footer,header,hgroup,menu,nav,section,audio,video {display:block; margin:0; padding:0;}

/* ==================== Global ==================== */
html {overflow-y:scroll;}
body {text-align:center; font-size:16px; line-height:1.5; color:#25324d; font-weight:normal;
font-family:'Noto Sans TC',"微軟正黑體","Microsoft JhengHei",sans-serif;
background-color:#f6f6f6
}
h1,h2,h3,h4,h5,h6 {margin:0; line-height:1.4;}
p {text-align:justify; text-justify:distribute;}
table {border-collapse:collapse; border-spacing:0; table-layout:fixed; border:1px solid #000;}
th {border:1px solid #000;}
td {border:1px solid #000;}
a {outline:none; text-decoration:none;}
.clear {clear:both;}
input {vertical-align:middle;}

.outerwpr {display:flex; flex-direction:column;
min-height:100vh; padding-right:50px;
text-align:left;
}
.centerwpr {max-width:1400px; position:relative; 
margin:0 auto;
}

.main {flex:1; padding:0 20px;}



/* ==================== Header ==================== */
.header .centerwpr {height:100px;
display:flex; align-items:center; justify-content:space-between;
}
.header--logo {height:42px; position:relative;
display:flex; align-items:center;    
color:#25324d;
}
.header--logo:before {content:""; display:block; width:42px; height:42px;
background-color:#25324d; margin-right:16px;
background-image:url("../images/icon-home.png"); background-repeat:no-repeat;
background-size:100px auto; background-position:0 0;
border-radius:2px;
}

.header--logo h1 {position:relative; top:-1px; margin-bottom:4px;
font-size:22px; letter-spacing:6px; line-height:1;
}
.header--logo h2 {
font-size:15px; font-weight:normal; letter-spacing:4.7px; line-height:1;
}

/* menu bar (Mobile) header logo */
.menu--bar .header--logo {display:none; height:100%; position:absolute;}
.menu--bar .header--logo:before {width:54px; height:100%; margin-right:12px;
border-radius:0; background-position:5px 4px;
}
.menu--bar .header--logo h1 {margin-bottom:3px;
font-size:18px; letter-spacing:3.3px;
}
.menu--bar .header--logo h2 {font-size:13px; letter-spacing:2px;}


/* ==================== Search ==================== */
.searchwpr {height:30px; position:relative;
padding-left:30px;
background-image:url("../images/icon-home.png"); background-repeat:no-repeat;
background-size:80px auto; background-position:0 -223px;
border-bottom:1px solid #d4d2d2;
}
.search-input {padding:4px 2px; width:70px;
font-family:inherit; font-size:14px; font-weight:inherit; 
color:#4a546a; line-height:1;
background-color:transparent; border:none;    
border-bottom:1px solid transparent;
transition:300ms; transition-property:width, border-color;
}
.search-input:focus {outline:none; width:140px;}

/* Menu Search input */
.menu--content .searchwpr {height:72px; margin:0 25px;
padding-left:50px;    
display:flex; align-items:center;
background-size:80px auto; background-position:22px -203px;
}
.menu--content .search-input {width:100%;}
.menu--content .search-input:focus {width:100%;
border-bottom:1px solid transparent;
}




/* ==================== Menu ==================== */
.menu {position:fixed; right:0; top:0; z-index:999;
width:50px; height:100%;
}

.menu--bar {position:absolute; right:0; top:0;
width:100%; height:100%;
background-color:#fbfbfb;
box-shadow:0 0 0 1px rgba(0,0,0,.02);
}

.menu--about {width:100%; padding:17px 0;
display:flex; justify-content:center; align-items:center;    
color:#fff; line-height:1; font-size:15px; writing-mode:vertical-rl;
letter-spacing:1px;
background-color:#263b53;    
}

.hamburger {width:50px; height:56px;
position:absolute; left:0; top:50%; margin-top:-28px;
cursor:pointer;
}
.hamburger--icon {width:26px; height:2px;
position:absolute; left:50%; top:50%; margin-left:-13px; margin-top:-1px;
background-color:#25324d;
pointer-events:none;
transition:300ms; transition-property:background-color;
}
.hamburger--icon:before,
.hamburger--icon:after {content:""; display:block; width:100%; height:2px;
position:absolute; left:0;
background-color:#25324d;
transition:300ms; transition-property:top,bottom,transform;
}
.hamburger--icon:before {top:-11px;}
.hamburger--icon:after {bottom:-11px;}

.expand .hamburger--icon {
background-color:transparent;
}
.expand .hamburger--icon:before {transform:rotate(-45deg);
top:0;
}
.expand .hamburger--icon:after {transform:rotate(45deg);
bottom:0;
}


.backTop {width:50px; height:50px;
position:absolute; left:0; bottom:15px;
background-image:url("../images/icon-home.png"); background-repeat:no-repeat;
background-size:100px auto; background-position:17px -75px;
cursor:pointer;
}

.menu--overlay {position:fixed; left:0; top:0;
width:100%; height:100%; z-index:-1000;
background-color:rgba(0,0,0,.32);
opacity:0; pointer-events:none; visibility:hidden;
transition:1600ms; transition-property:opacity,visibility;
}
.expand .menu--overlay {opacity:1; pointer-events:auto; visibility:visible;
z-index:auto;
}

.menu--container {position:fixed; right:-360px; top:0;
width:300px; height:100%; padding-right:50px;
display:flex; justify-content:center; align-items:center;
background-color:rgba(246,246,246,.97);    
transition:300ms; transition-property:right;
}
.expand .menu--container {right:0;}

.menu--content {width:100%;}

.menu--btn {height:72px; margin:0 25px;
display:flex; align-items:center; flex-wrap:wrap;
border-bottom:1px solid #d4d2d2;
border-top:1px solid #fff;
}
.menu--btn:last-child {border-bottom:none;}
.menu--btn.Event {border-bottom:none;}

/* .menu--btn+.menu--btn {border-top:1px solid #fff;} */

.menu--box {padding-left:22px;
transition:300ms; transition-property:padding-left;
}
.menu--btn:hover .menu--box {padding-left:32px;}

.menu--box span {display:block; line-height:1;}
.menu--btn .zh {margin-bottom:5px;
font-size:18px; color:#25324d; letter-spacing:4px; font-weight:500;
}
.menu--btn .en {
font-size:12px; color:#717171; letter-spacing:2px;
}

.menu--btn.About {display:none;}


/* ==================== Footer ==================== */
.footer {width:100%; height:36px;
display:flex; justify-content:center; align-items:center;    
color:#fff; font-size:11px;
background-color:#25324d;
}
.footer .centerwpr {padding:0 20px;}
.footer .rights {letter-spacing:2px; text-align:center; line-height:1.2;}



/* ==================== Home block ==================== */
.home-block .centerwpr {padding:90px 0;}

.home-block h2 {text-align:center; line-height:1;}
.home-block h2:before,
.home-block h2:after {content:""; display:inline-block;
width:64px; height:2px; position:relative; top:-3px;
background-color:#25324d;
}
.home-block h2:before {margin-right:14px;}
.home-block h2:after {margin-left:10px;}

.home-block h2 .zh {font-size:22px; letter-spacing:4px;}
.home-block h2 .en {font-size:18px; text-transform:uppercase; letter-spacing:3px;}

.home-block .container {display:flex; flex-wrap:wrap; justify-content:space-between;
}

.entry {display:block; margin-top:40px; margin-bottom:10px;
width:calc(25% - 30px);
color:#25324d;
}
/* .entry:hover {color:#215e7f;} */
.entry .date {margin-bottom:4px;
font-size:13px; font-style:italic;
}
.entry .imgwpr {width:100%; padding-top:66.67%; margin-bottom:20px;
position:relative;    
background-size:cover; background-position:center center;
background-repeat:no-repeat;
transition:400ms; transition-property:box-shadow,opacity;
}
.entry:hover .imgwpr {opacity:.8;
box-shadow:0 0 6px rgba(0,0,0,.4);    
}

.entry h3 {margin-bottom:10px;
font-size:19px; font-weight:500;
}
.entry p {font-size:14px; color:#5e6576; line-height:1.6;}
.entry p+p {margin-top:10px;}

.readMore {display:flex; justify-content:center; align-items:center;
width:138px; height:38px; margin:40px auto 0 auto;
color:#25324d; font-size:14px; font-weight:bold; 
text-transform:uppercase; letter-spacing:2px;
background-color:#fff; border-radius:20px;
box-shadow:0 0 2px rgba(0,0,0,.1);
cursor:pointer;
transition:300ms; transition-property:box-shadow;
}
.readMore:hover {box-shadow:0 0 6px rgba(0,0,0,.12);}

.readMore i {display:block; width:22px; height:11px; margin-left:7px;
background-image:url("../images/icon-home.png"); background-repeat:no-repeat;
background-size:100px auto; background-position:1px -164px;
/* transition:300ms; transition-property:margin-left; */
}
/* .readMore:hover i {margin-left:3px;} */



/* ----- 最新文章 ----- */
.recentPost .centerwpr {padding:60px 0;
background-color:#fff;    
}
.recentPost .container {flex-wrap:nowrap; justify-content:space-evenly;}

.entry.top-story {width:38%; padding:0 40px;}

.recentPost .regular-post {flex:1; padding-right:40px;
display:flex; flex-wrap:wrap; justify-content:space-between;
}
.recentPost .regular-post .entry {width:calc(50% - 20px);}

/* .recentPost .imgwpr {margin-bottom:20px;} */
.entry--tag {height:30px; padding:0 20px;
position:absolute; left:0; bottom:0;    
display:flex; justify-content:center; align-items:center;
color:#fff;    
background-color:#2d6974;
}



/* ----- 技術筆記 ----- */
.home-block.dTech {margin:0 -20px; padding:0 20px;
background-color:#e5e5e5;     
}



